.navbar-brand {
  color: white;
}

form {
  margin: 30px 0 0 0;
  padding: 40px 25px 40px 25px;
  display: -moz-inline-grid;
  background-color: #dddee2;
  border-radius: 10px;
  /* opacity: 0.7; */
}

form:hover {
  opacity: 1;
}
#main-sec {
  display: flex;
  margin-left: 50px;
}

body {
  background-image: url("../../images/POS\ 4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

input {
  border-radius: 5px;
  border: 3px solid #273c75;
  width: 300px;
  height: 28px;
}

.table {
  margin-top: 20px;
}

.table_headers {
  border: 2px solid red;
  background-color: #34495e;
  border: none;
  color: white;
}

#btn-sec {
  margin: 30px 0 0px 25px;
  padding: 0px 70px 30px 25px;
  border-radius: 10px;
  background-color: #dcdde1;
}

.lbl {
  margin-top: 15px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}

.btnn {
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}
.btn-search {
  border: 3px solid red;
  border-color: transparent;
  background-color: #2980b9;
  margin-top: 25px;
  width: 300px;
  padding: 5px;
}

.btnn:hover {
  background-color: #dcdde1;
  border: 3px solid #273c75;
  color: #273c75;
}

.btn-save {
  border: 3px solid red;
  border-color: transparent;
  background-color: #238e2e;
  width: 90px;
  padding: 5px 15px 5px 15px;
}

.btn-update {
  border: 3px solid red;
  border-color: transparent;
  background-color: #27ae60;
  padding: 5px 15px 5px 15px;
  margin: 0 10px 0 10px;
}

.btn-delete {
  border: 3px solid red;
  border-color: transparent;
  background-color: #c0392b;
  width: 90px;
  padding: 5px 15px 5px 15px;
}

.navbar {
  background-color: #34495e;
}

#h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 3vw;
  margin-bottom: 20px;
  margin-top: 10px;
}

#btn-section {
  margin: 13px 0 0 17px;
}

.tbl-row {
  background-color: #aaa69d;
  border: none;
}

.search-lbl {
  margin-top: -1000px;
  padding-top: -100px;
}

.nav-item {
  color: white;
  position: relative;
  left: 300px;
  margin: 0 15px 0 15px;
  font-weight: bold;
}

.navbar-brand {
  margin-left: 50px;
  font-size: 30px;
  font-weight: bold;
}

i {
  padding-right: 8px;
}

.crud-btnn {
  display: flex;
}

.qty-text {
  width: 100px;
}

.total {
  display: flex;
  color: red;
  margin: -20px 0 0 5px;
}

#combo {
  width: 300px;
}

@media (max-width: 861px) {
  #main-sec {
    flex-direction: column;
  }

  #btn-sec {
    margin-left: 0;
  }

  .crud-btnn {
    flex-direction: column;
  }

  .btn-update {
    margin: 10px 0 10px 0;
    width: 300px;
  }

  .btn-save {
    width: 300px;
  }

  .btn-delete {
    width: 300px;
  }

  #h1 {
    font-size: 50px;
  }
}

@media (max-width: 590px) {
  #btn-sec {
    width: 360px;
  }

  #main-sec {
    margin-left: -5px;
  }

  form {
    width: 360px;
  }

  #btn-section {
    margin-left: 5px;
  }

  #h1 {
    font-size: 35px;
  }
}
